<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <!--
      Cadena de arranque (login_bootstrap). En despliegue debe cifrarse con DPAPI (RNF12).
      El password coincide con el valor de desarrollo del artefacto A11 y DEBE cambiarse.
    -->
    <add name="ReservaCanchasBootstrap"
         connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=ReservaCanchasDB;User ID=login_bootstrap;Password=CAMBIAR_EN_DESPLIEGUE#2026;Connect Timeout=8;Encrypt=False"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
